<h1>Listing events</h1>
<%= link_to 'New Event', new_event_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Place</th>
    <th>Price</th>
    <th>Date</th>
  </tr>

  <% @event.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.category %></td>
      <td><%= event.place %></td>
      <td><%= event.price %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
</table>
